.sign-in {
  display: flex;
  width: 100%;
  height: 3.125rem;
  border-radius: .5rem;
  border: 1px solid $gray400;
  justify-content: center;
  align-items: center;
  gap: .9375rem;

  p {
    @include headline2-bold
  }
}

.sign-out {}