.container {
  @include container-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.375rem 0;
  gap: 3.125rem;

  .logo {
    width: calc(100% - 5rem);
    height: 18.75rem;
    position: relative;
  }

  .sign {
    @include flex-col-center;
    gap: 1.25rem;

    .title {
      @include heading2-bold($logo-yellow3);
      align-self: flex-start;
    }
  }
}