.container {
  width: 90%;
  height: 70%;
  border-radius: .5rem;
  @include flex-row-center;
  gap: .625rem;

  .profile-image {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 1.875rem;
  }

  .name {
    @include heading3-bold;
  }
}