.container {
  @include container-size;
  padding: 13% 10%;
  display: flex;
  flex-direction: column;

  gap: 1.25rem;

  .channel {
    display: flex;
    flex-direction: column;
    gap: .625rem;

    .title {
      @include headline2-bold;
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: .3125rem;
    }
  }
}