.container {
  @include container-size;
  padding: 13% 10%;
  display: flex;
  flex-direction: column;

  gap: 1.25rem;

  .channel {

    display: flex;
    flex-direction: column;
    gap: .625rem;
    @include scroll;

    .title {
      @include headline2-bold;
    }

    .list {
      width: 100%;
      height: 18.75rem;
      display: flex;
      flex-direction: column;
      gap: .9375rem;
      overflow-y: auto;
    }

    .pre-search {
      @include body2-medium($gray600)
    }
  }
}