.container {
  width: 100%;
  height: 3.125rem;
  display: flex;
  justify-content: space-around;

  .menu {
    width: calc(100% / 5 - 20px);
    border-radius: .375rem;
    @include flex-col-center;
    gap: .25rem;
    cursor: pointer;

    .tag {
      @include caption1-medium;
    }

    &.selected {
      background-color: $yellow500;
      color: $white;

      .tag {
        @include caption1-medium($white);
      }
    }

    &:active {
      background-color: $yellow300;
    }
  }
}