.container {
  width: 100%;
  height: 3.75rem;
  @include flex-row-center;

  .menu {
    width: 100%;
    @include flex-col-center;
    cursor: pointer;

    .icon {}

    .tag {
      @include caption1-medium;
    }
  }
}