.container {
  width: 90%;
  padding: .625rem .9375rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  border-radius: .5rem;
  border: 1px solid $gray500;
  cursor: pointer;

  .thumbnail {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 6.25rem;
  }

}